.search-bar {
	padding: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
	border-radius: 4px;
}

.video-detail .details {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #ddd;
}

.list-group .list-group-item{
	cursor: pointer;
	font-size: 14px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                  supported by Chrome and Opera */
}

.list-group-item:hover {
	background-color: #eee;
}